defmodule <%= app_name %>.Repo.<%= repo_name %> do
  use EctoResource

  import Ecto.Query, warn: false

  alias <%= app_name %>.Repo
  alias <%= app_name %>.Schemas.<%= schema_name %>

  using_repo(Repo) do
    resource(<%= schema_name %>)
  end
end
